{{ $kind := .type | default "item" }}
<li class="reading-row reading-{{ $kind }}">
  {{ if and (eq $kind "book") .cover }}
    <img class="reading-cover" src="{{ .cover }}" alt="" width="48" height="72" loading="lazy">
  {{ else if ne $kind "book" }}
    <span class="reading-kind">{{ $kind }}</span>
  {{ end }}
  <div class="reading-meta">
    {{ if eq $kind "paper" }}
      {{ $dest := partial "paper-dest.html" . }}
      {{ if $dest.href }}
        {{ if $dest.internal }}
          <a class="reading-title" href="{{ $dest.href }}"><cite>{{ .title }}</cite></a>
        {{ else }}
          {{ partial "external-link.html" (dict "href" $dest.href "text" (printf "<cite>%s</cite>" .title) "class" "reading-title") }}
        {{ end }}
      {{ else }}
        <cite class="reading-title">{{ .title }}</cite>
      {{ end }}
    {{ else if .url }}
      {{ if partial "is-external.html" .url }}
        {{ partial "external-link.html" (dict "href" .url "text" .title "class" "reading-title") }}
      {{ else }}
        <a class="reading-title" href="{{ .url }}">{{ .title }}</a>
      {{ end }}
    {{ else }}
      <span class="reading-title">{{ .title }}</span>
    {{ end }}
    <p>
      {{ with .authors }}<span>{{ . }}</span>{{ end }}
      {{ with .source }}<span class="muted">{{ . }}</span>{{ end }}
    </p>
  </div>
</li>
